<div class="new-friends" ng-show="activeSession" >
    <div class="content-pannel-head">
        <p class="head-title conv-title" style="vertical-align:middle;margin-bottom: 8px;">
            <img width="40" ng-src="{{rootPath + '/img/groupMsg.png'}}"/>

            <span style="position:relative;top:-16px;">
                <span style="margin-left: 7px;color: #333;" >
                    <span>群通知</span>
                </span>
            </span>
        </p>
        <div class="record icon-chat-clean" ng-if="groupMsgList.length" ng-click="cleanMessage()">清空</div>
        <div class="record noclean" ng-if="!groupMsgList.length"></div>
    </div>
    <div class="group-member-container reset">
        <div  id="sub-menu-pannel" class="conv-list-pannel ng-scope" style="border:0;width:100%;background: #fafafa;">
            <div class="conv-lists-box ng-isolate-scope">
                <div class="no-notice" ng-if="!groupMsgList.length"></div>
                <ul class="list-with-avatar-and-info conv-lists" ng-if="groupMsgList.length">
                    <li class="list-item  context-menu newfriends-notice" ng-repeat = "item in groupMsgList">
                        <div class="avatar single-chat three newfriends">
                            <img ng-src="{{item.hid ?lang.fileSvr + item.hid:(item.msgType==2?rootPath + '/img/session-img.png':(item.ismine==1?rootPath + '/img/session-img.png':rootPath + '/img/group-test.png')) }}" image-404="img/group-test.png"/>
                        </div>
                        <div class="info" >
                            <p class="name" style="color:#333;">
                                <span>
                                    {{item.name}}
                                </span>
                            </p>
                        </div>
                        <div class="desc-nowrap" ng-bind="item.msg"></div>
                        <div class="rightBtn deal-newfriends" ng-show="item.ismine==0 && item.state==0">
                            <span class="btn-refuse" ng-click="agreeJoin(0,item,$index)">拒绝</span>
                            <span class="btn-agree" ng-click="agreeJoin(1,item,$index)">同意</span>
                        </div>
                        <div ng-show="item.ismine==0 && item.state !== 0" class="rightBtn" >
                           <p> <span ng-bind='stateMap[item.state]'></span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>